* {
  margin: 0;
  padding: 0;
}

.head {
  background-color: #eee;
  color: grey;
  font-size: 600;
}

.book tr th,
.book tr td {
  padding: 10px 10px;
}
button{
  padding: 2px 6px;
  text-align: center;
}