<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>组件通信-父子通信案例</title>
</head>

<body>
  <!-- 父组件 -->
  <div id="app">

    <cpn :number1='num1' :number2='num2' @num1change="num1Change" @num2change="num2Change"></cpn>

    <h4>父组件变化</h4>
    <p>父组件：{{num1}}</p>
    <input type="text" v-model="num1" >
    <p>父组件：{{num2}}</p>
    <input type="text" v-model="num2">

  </div>

  <!-- 子组件 -->
  <template id="cpn">

    <div>
      <p>子组件中父组件数据number1：{{number1}}</p>
      <p>子组件数据dunber1：{{dnumber1}}</p>
      <input type="text" :value="dnumber1" @input="num1input">
      <p>子组件中父组件数据nnumber2：{{number2}}</p>
      <input type="text" :value="dnumber2" @input="num2input">
    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <script>
    // 父传子：props
    const cpn = {
      template: "#cpn",
      data() {
        return {
          //接收父组件数据
          dnumber1:this.number1,
          dnumber2:this.number2
        }
      },
      props:{
        number1:[Number,String],
        number2:[Number,String],
      },
      methods: {
        num1input(event){
          // 获取子组件输入框数据1
          this.dnumber1 = event.target.value
          // 将子组件中数据传输出去
          this.$emit('num1change',this.dnumber1)
        },
        num2input(event){
          // 获取子组件输入框数据2
          this.dnumber2 = event.target.value
          // 将子组件中数据传输出去
          this.$emit('num2change',this.dnumber2)
        }
      },
    };
    const app = new Vue({
      el: "#app",
      data() {
        return {
          num1:1,
          num2:2,
        }
      },
      methods: {
        num1Change(value){
          this.num1=value
        },
        num2Change(value){
          this.num1=value
        }
      },
      components: {
        cpn
      },
    })
  </script>
</body>

</html>