<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-model结合checkbox类型</title>
</head>
<body>
  <div id="app">
    <h2>单选框</h2>
    <label for="agree">
      <input type="checkbox" id="agree" v-model="isAgree"> 同意协议
      <p>你选择的结果是:{{isAgree}}</p>
      <button :disabled="!isAgree">下一步</button>
    </label>
    
    <h2>多选框</h2>
    <label :for="item" v-for="(item,index) in oriHobbies" :key="index">
      <input type="checkbox"  :name="hobby" :value="item" :id="item"  v-model="hobbies"> {{item}}
    </label>
    <p>你的爱好是：{{hobbies}}</p>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el:"#app",
      data:{
        message:"zzz",
        isAgree:false,
        hobbies:[],
        oriHobbies:["篮球","足球","羽毛球","乒乓球"]
      },

    })
  </script>
</body>
</html>